
body {
    color: #115c9b;
    background-color: #f1f2f6;
  
  }
  input,
  button,
  h1{
    font-family: "Trirong", sans-serif;
    font-size: 24px;
    margin-bottom: 28px;
    
  }
  h2{
    font-family: "Trirong", sans-serif;
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 24px;
    
  }
  h3{
    font-family: "Trirong", sans-serif;
    font-size: 12px;
    display: inline-block;
  }
  h4 {
    font-size: 12px;
    font-family: "Trirong", sans-serif;
  }
  
  a {
    font-size: 12px;
    font-family: "Trirong", sans-serif;
    color: inherit;
  }
  a:hover, a:focus, a:active {
    color: inherit;
  }

  .left15
  {
    margin-left: 15px;
  }

  
  .right5
  {
    font-size: 18px;
    border: 10px;
    margin-left: 745px;
    margin-top: 8px;


  }
  
  /* =============================================================================
    Layout
  ========================================================================== */
  .main-header .navbar.navbar-static-top .navbar-main .container {
    padding-top: 0px;
  }
  
  .frame-color {
    color: red;
  }
  /* Header
  ================================= */
  
  
  
  
  .navbar-static-top {
    padding: 0px;
    margin-top: 0px;
    border: 0;
    color: #fff;
  
  }
  
  .navbar-top {
    background: #115c9b;
    font-size: 12px;
    padding: 3px 0;
  }
  .navbar-top .list-inline {
    margin-bottom: 0;
  }
  .navbar-top .header-contact li {
    margin-right: 15px;
  }
  .navbar-top .header-contact li .fa {
    margin-right: 5px;
  }
  
  .navbar-main {
    margin-bottom: 0;
    color: #fff;
    background: #0984e3;
    height: 48px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  .navbar-main .navbar-brand {
    margin-left: 5px;
    border-bottom: none !important;
  }
  .navbar-main a:hover,
  .navbar-main a:active,
  .navbar-main a:focus,
  .navbar-main a.is-active {
    background: none !important;
    color: inherit;
    border-bottom: 2px solid #fff;
  }
  
  
  .navbar-main .container{
    padding-left: 0px !important;
  }
  
  
  
  .navbar-main .submenu {
    position: absolute;
    list-style: none;
    background: #1f76bd;
    padding: 0;
    width: 150px;
    left: -35px;
    visibility: hidden;
    top: 85px;
    -moz-transition: all, 0.05s;
    -o-transition: all, 0.05s;
    -webkit-transition: all, 0.05s;
    transition: all, 0.05s;
  }
  .navbar-main .submenu li {
    border-top: 1px solid #185b91;
  }
  .navbar-main .submenu li:hover {
    background: #185b91;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  .navbar-main .submenu li a {
    width: 100%;
    border-bottom: none;
    text-decoration: none;
    padding: 5px 25px;
    display: block;
    font-size: 16px;
  }
  .navbar-main li a {
    font-family: "Dosis", sans-serif;
    font-size: 18px;
    padding: 20px 15px;
    border-bottom: 2px solid transparent;
  }
  .navbar-main li:hover .submenu {
    top: 62px;
    visibility: visible;
    -moz-transition: all, 0.25s;
    -o-transition: all, 0.25s;
    -webkit-transition: all, 0.25s;
    transition: all, 0.25s;
  }
  .navbar-main .icon-bar {
    background: #fff;
  }
  .navbar-main .navbar-brand{
    padding: 6px 15px !important;
  }
  
  /* =============================================================================
  Template Login
  ============================================================================*/
  .form-signin .form-signin-heading, .form-signin .checkbox
  {
      margin-bottom: 10px;
  }
  .form-signin .checkbox
  {
      font-weight: normal;
  }
  .form-signin .form-control
  {
      border-radius: 8px;
      position: relative;
      /* margin: 8px 0; */
      width: 120px;
      height: 36px;
      margin-bottom: 16px;
      
  }

  .form-signin_right .form-control_right
  {
      border-radius: 8px;
      position: relative;
      font-size: 12px;
      margin: 8px 0;
      width: 120px;
      height: 36px;
      margin-left: 116px;
      float : right;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: "Trirong", sans-serif;
  }

  .form-signin .form-control:focus
  {
      z-index: 2;
  }
  .form-signin input[type="text"]
  {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      font-family: "Trirong", sans-serif;
  }
  .form-signin input[type="password"]
  {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      font-family: "Trirong", sans-serif;
  }
  

/*============ input ====================*/
.inrow{
      display: inline-block !important;

}


.boxmagin{
   
    margin-left: 65px;
    display: inline-block !important;
}


.user-name
  {
      width: 100px !important;
      padding-left: 8px;
      padding-right: 8px;
      display: inline-block;
  }

  .name
  {
      width: 252px !important;
      display: inline-block;
  }


  .form-label4
  {
      border-radius: 8px;
      position: relative;
      margin: 0px;
      font-size: 12px;
      
      width: 176px;
      height: 36px;
      margin-right: 8px;
      margin-left: 116px;
      font-family: "Trirong", sans-serif;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: "Trirong", sans-serif;
  }

  .form-label5
  {
      border-radius: 8px;
      position: relative;
      margin: 0px;
      font-size: 12px;
      
      width: 176px;
      height: 36px;
    
      font-family: "Trirong", sans-serif;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: "Trirong", sans-serif;
  }


  .note
  {
    width: 532px !important;
    height: 96px !important;
  }
  

  /*============ Tablet ====================*/
  .cen
  {
    text-align: center;
    padding-left: 10px;
    font-family: "Trirong", sans-serif;
  }


  #tablecustomers {
    
    font-family: "Trirong", sans-serif;
    border-collapse: collapse;
    width: 674px;
    height: 72px;
    margin-left: 210px;
}

#tablecustomers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tablecustomers tr:nth-child(even){background-color: #f2f2f2;}

#tablecustomers tr:hover {background-color: #ddd;}

#tablecustomers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1B9CFC;
    color: white;
}

/*============ End input ====================*/

/*----------------button---------------------*/
.save{
  margin-left: 777px;
  border-top-width: 1px;
  margin-top: 24px;
  padding-bottom: 6px;
  margin-bottom: 38px;
  width: 86px;
  height: 39px;
  margin-right: 8px;
}
.cancel{

  border-top-width: 1px;
  margin-top: 24px;
  padding-bottom: 6px;
  margin-bottom: 38px;
  width: 86px;
  height: 39px;
  margin-right: 8px;
}

  /*============ frame-background ====================*/
  .photo-nav {
  
  }
  .account-wall
  {
      border-radius: 8px;  
      margin: auto;
      margin-bottom: 60px;
      width: 1152px;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 34px;
      background-color: #ffffff;
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
.account-wall h1{
    text-align: left;
}
  
  
  .login-title
  {
      color: #555;
      font-size: 42px;
      font-weight: 400;
      display: block;
  }
  .profile-img
  {
      width: 96px;
      height: 96px;
      margin: 0 auto 10px;
      display: block;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
  }
  .need-help
  {
      margin-top: 10px;
  }
  .new-account
  {
      display: block;
      margin-top: 10px;
  }
  
  /* footer
  ================================= */
  
  .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #0984E3;
     color: white;
     text-align: center;
  }
  .footer .container.text-right {
  
  }
  
  /* =============================================================================
      Responsive
  ========================================================================== */
  /* Large devices (large desktops, 1200px and Down) */
  @media (max-width: 1200px) {
    .about-us-col {
      padding: 15px;
    }
  
    .reasons-col:hover .on-hover {
      padding: 15px;
    }
  
    .reasons-col:hover .on-hover {
      padding: 25px;
    }
  }
  /* Medium devices (desktops, 992px and Donw) */
  @media (max-width: 992px) {
    .carousel-home .carousel-title {
      font-size: 36px;
    }
    .carousel-home .carousel-subtitle {
      font-size: 18px;
    }
    .carousel-home .btn {
      margin-top: 15px;
    }
  
    .about-us-col {
      margin-bottom: 25px;
    }
  
    .team-member {
      margin-bottom: 25px;
    }
  
    .reasons-col {
      margin-bottom: 25px;
    }
  
    .footer-col {
      margin-bottom: 50px;
    }
  }
  /* Small devices (tablets, 768px and Down) */
  @media (max-width: 768px) {
    .header-contact {
      text-align: center;
    }
    .header-contact li {
      margin: 0 !important;
    }
  
    .header-social {
      text-align: center;
    }
  
    .navbar {
      padding: 10px;
    }
  
    .navbar-main #navbar {
      float: none !important;
    }
    .navbar-main #navbar a {
      border-bottom: none;
    }
  
    .navbar-main .submenu {
      position: initial;
      display: none;
      width: 100%;
    }
    .navbar-main li:hover .submenu,
    .navbar-main li:active .submenu,
    .navbar-main li:focus .submenu {
      display: block;
    }
    .navbar-main li:hover .submenu li,
    .navbar-main li:active .submenu li,
    .navbar-main li:focus .submenu li {
      background: #115c9b;
      border-top-color: #1f76bd;
    }
  
    .carousel-home .carousel-title {
      font-size: 32px;
    }
    .carousel-home .carousel-subtitle {
      font-size: 16px;
    }
    .carousel-home .carousel-control {
      background: #1f76bd;
      height: 40px;
      width: 20px;
      top: 50%;
      margin-top: -20px;
    }
    .carousel-home .carousel-control .fa {
      font-size: 1.5em;
      padding-top: 4px;
    }
  
    .col-form {
      margin-bottom: 25px;
    }
  }
  /* Extra Small devices (tablets, 480px and Down) */
  @media (max-width: 480px) {
    .carousel-home .carousel-title {
      font-size: 16px;
      margin: 0;
    }
    .carousel-home .carousel-subtitle {
      font-size: 14px;
      margin: 0;
    }
    .carousel-home .carousel-indicators {
      bottom: 0;
    }
  }
  
  
  
  /* =============================================================================
      Animations
  ========================================================================== */
  .animate-onscroll {
    visibility: hidden;
  }
  
  .animated {
    visibility: visible;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .animated.slow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
  .animated.fadeIn {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
  @-webkit-keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
  }
  
  @-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
    100% {
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
    100% {
      -webkit-transform: none;
      transform: none;
    }
  }
  .bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
  }
  
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
  }
  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }
  